#capture {
  min-width: 250px;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.validation-result-container {
  margin-top: 50px;
}

.invalid-label {
  color: red;
}

.history-container {
  margin-top: 30px;
}
